@import "../base";

nav {
  &.nav {
    color: inherit;
    position: fixed;
    left: 0;
    right: 0;
    background: $background-darker;
    z-index: 1030;
    transition: background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);

    .collapsebtn1 {
      padding: 5px;
      margin-right: 10px;
      border: none;

      &:focus {
        outline: none;
      }

      .animated-icon1 {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.1s linear;
        transition: 0.1s linear;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          opacity: 1;
          border-radius: 5px;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.1s linear;
          transition: 0.1s linear;
          height: 1px;
          width: 100%;
          background: $dark-color;
          &:nth-child(1) {
            width: 60%;
            top: 4px;
          }

          &:nth-child(2) {
            top: 10px;
            width: 50%;
          }

          &:nth-child(3) {
            top: 15px;
          }
        }

        &.open {
          span {
            &:nth-child(1) {
              top: 10px;
              left: 4px;
              width: 100%;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
              width: 0%;
            }

            &:nth-child(3) {
              top: 10px;
              left: 4px;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    .navbar-brand {
      margin-right: 0;
      font-size: 2rem;
      font-weight: 700;
    }
    a {
      color: $dark-color;
      text-decoration: none;
    }

    .nav-link a {
      line-height: 24px;
      font-size: 15px;
    }

    &.nav-scrolled {
      .disappearing__letter {
        opacity: 0;
        margin-right: -0.8em;
        -webkit-transition: opacity 250ms ease-out 0s,
          margin 250ms ease-in-out 0s;
        transition: opacity 250ms ease-out 0s, margin 250ms ease-in-out 0s;
      }
    }

    &.dark {
      background: linear-gradient(to right, #ebebeb, #f1f1fc);
      a {
        color: $background-darker;
      }

      .collapsebtn1 {
        .animated-icon1 {
          span {
            background: $toggler;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .navbar-collapse {
        position: fixed;
        top: 10%;
        left: 10%;
        right: 10%;
        z-index: 1030;
        background: $toggler;
        border-radius: 5px;
        width: 50%;
        margin: auto;
      }

      &.dark {
        .navbar-collapse {
          a {
            color: $grey-sections;
          }
        }
      }
    }
  }
}

.main__header {
  .head__text {
    font-weight: 700;
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    .head__text {
      font-size: 4rem;
    }
  }
}

.desc__text {
  font-size: 1.8rem;
  line-height: 20px;
  opacity: 0.7;
}

.links {
  font-size: 2rem;
  line-height: 25px;

  * {
    color: inherit;
  }
}

.circle {
  width: 70px;
  height: 70px;
  background: $greyed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 100%;

  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid $greyed;
  }
}

.about {
  .desc__text {
    font-size: 1.4rem;
    line-height: 2;

    a {
      color: inherit;
      text-decoration: underline;
      opacity: 1;
    }
  }

  .hexed {
    @extend .circle;
    border-radius: 0;
    width: 140px;
    height: 57.735px;

    &:before {
      content: "";
      position: absolute;
      top: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 28.8675px solid $greyed;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-top: 28.8675px solid $greyed;
    }
  }
}
