
$background-light: #FFFFFF;
$background-dark: #223B41;
$background-darker: #090b0d;
$light-color: #000000;
$dark-color: #FFFFFF;
$darker-color:#cfcfcf;
$card-color:#403B3B;
$card-dark: #273739;
$deep-orange: #E46113;
$orange: #EF9F43;
$deep-purple:#2e0a70;
$purple: #220656;
$dark-sections: #27383A;
$light-sections:  #4594A1;
$grey-sections: #FAFAFA;
$copy-right: #717272;
$toggler: #1b1329;
$greyed: rgba(53, 47, 68, 0.6);