

@import "base";



.App{
  background: $background-darker;
  color:$dark-color;
  transition: background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  &.dark {
    background:linear-gradient(to right, #ebebeb, #f1f1fc);
    color: $background-darker;

    .tool-cards{
      background-color: $toggler;
    }

  }

  .btn {
    font-size: 16px;
    line-height: 24px;
    color: $background-light;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  .btn-deep-purple  {
    background-color: $deep-purple;

    &.border-round {
      border-radius: 100%;
      height: 50px;
      width: 50px;
    }
    &:hover {
      background-color: $purple;
    }
  }

  .tool-cards{
    background-color: $greyed;
    color: $grey-sections;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    a{
      color: inherit;
    }
  }

}
.preload {
  background-color: $background-darker;
  display: flex;
  left: 0;
  top: 0;

  &.hide{
    display: none;
  }

  .loading {
    background-color: $purple;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    	-webkit-animation: scaleIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: scaleIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px !important;
  height: 10px !important;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 7px !important;
  background-color: #03080df7;
  box-shadow: 0 0 1px $greyed;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset $toggler;
  box-shadow: inset $toggler;
  border-radius: 10px;
}
